/* *-------Navbar---------- */

a,
a:hover,
a:visited {
    all: unset;
    cursor: pointer;
}

.noti-btn{
    position: relative;
    padding : 0;
    background-color: transparent;
    border: none;
}

.ba {
    background-color: #ff4d4f;
    position: absolute;
    min-height: 17px;
    min-width: 17px;
    max-width: 30px;
    // width: fit-content;
    // height: fit-content;
    padding: 2px !important;
    font-size: 12px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    left: 13px;
    top: -7px;
    // translate: 50% -200%;
    border: 1px white solid;
    // aspect-ratio: 1/1;
    border-radius: 555px;
}


.inline-nav {
    display: inline-flex;
    align-items: center;
    gap: 2.5rem;
    /* background-color: aqua; */
    // a:not(.in-dropdown),
    div:not(.dropdown-nav, .dropdown-area) {
        // margin-right: 20px;
        // padding: 0.5rem 0.6rem;
        border-radius: 100px;
        text-decoration: none;
        color: black;
    }
}



.inline-nav.inhomepage a {
    color: white !important;
}


.nav-icon {
    width: 20px;

    /* line-height: 0 !important;
    background-color: navajowhite; */
}

// .inline-nav>a:hover {
//     background-color: #7E9AFA;
//     color: white;

// }

.nav-box {
    background-color: rgb(255, 255, 255);
    height: fit-content;
    border: 0.5px solid #D0D0D0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9;

}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    height: fit-content;
    margin-inline: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-inline: 5%;
    /* background-color: antiquewhite; */
}

.dropdown-nav {
    position: relative;
    /* background-color: pink; */
    width: 3rem;
    height: 3rem;
}

.dropdown-nav button {
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background-size: cover;
}

.dropdown-area {
    display: flex;
    flex-direction: column;
    /* word-wrap: normal; */
    background-color: white;
    white-space: nowrap;
    width: fit-content;
    position: absolute;
    top: 100%;
    /*ลงมาอยู่ล่าง ถ้าtop 0 จะอยู่บนสุด*/
    right: 0;
    list-style: none;
    border-radius: 1rem;
    // border: 1px solid #969cb1;
    overflow: hidden;
    color: #2c3248;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);

    & a {
        padding: 1.2rem 2rem;
    }

}

// .dropdown-area a {
//     padding: 1.2rem 2rem;
// }

.dropdown-area.close {
    display: none;
}

.dropdown-area.open {
    display: flex;
}

.dropdown-area li {
    padding: 1rem 2rem;
}

.dropdown-area a:hover {
    background-color: #CDD8FF;
}

.show-coin {
    border: 1px solid #DBD1E0;
    padding: 5px 30px !important;
    border-radius: 99px !important;
    margin: auto;
    background-color: #f2f6fabe;
}

.show-coin p {
    font-weight: 700;
    color: #333333;
}

.ham-menu {
    display: none;
}

.ham-nav {
    display: flex;
    flex-direction: column;

    a {
        padding: 1.2rem 2rem;

        &:hover {
            background-color: #CDD8FF;
        }
    }

}

@media (min-width: 2000px) {
    .nav-container {
        width: 2000px;
    }
}