// @include media-breakpoint-up(sm) {}

//แนฟบา

@media (min-width: 0px) and (max-width: 767px) {

    .ant-modal .ant-modal-content{
        border-radius: 0 !important;
    }
    .ant-modal .ant-modal-body{
        overflow-y: auto !important;
    }
    .ham-menu {
        display: block !important;
    }

    .inline-nav a:not(.ham-menu),
    .dropdown-area {
        display: none;
    }

    .inline-nav:last-child{
        display: none;
    }


    //หน้าตั้งค่า

    .setting-content-box {
        grid-template-columns: 1fr;
    }

    //โมดัล

    .ant-modal{
        width: 100% !important;
        height: 100% !important;
        top: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        
    }

    .ant-modal-content{
        width: 100% !important;
        // height: 100% !important;
        min-height: 100% !important;
        max-height: fit-content !important;
        border-radius: 0 !important;
        
    }

    :where(.css-dev-only-do-not-override-1k979oh).ant-modal{
        max-width:none !important;

    }
}



@media (min-width: 768px) and (max-width: 1200px) {}

@media (min-width: 1901px) {}


//

@media (min-width: 0px) and (max-width: 767px) {
    .sys-section {
        grid-template-columns: 1fr;
    }

    .aa {
        flex-direction: column-reverse;

        .img-col {
            padding-top: 3rem;
        }

        .text-col {
            // background-color: rgba(255, 255, 255, 0.372);
            justify-content: flex-start;
        }
    }

}

@media (min-width: 768px) and (max-width: 1200px) {
    .sys-section {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1901px) {
    .box-container {
        height: 50rem;
    }
}

// @media (min-height: 100vw){
//     .box-container {
//         height: 50vh;
//     }
// }


// @include media-breakpoint-up(lg) {}

//login


@media (min-width: 0px) and (max-width: 899px) {
    .body {
        // display: flex;
        // justify-content: center;
        // align-items: center;
    }
    .login-soloCard,
    .createaccount-soloCard {
        margin-inline: 0 !important;
        flex-direction: column !important;

        .login-col-img {
            display: none;
        }

        .login-col-text {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }



}



@media (min-width: 900px) and (max-width: 1200px) {
    .login-soloCard,
    .createaccount-soloCard {
        margin-inline: 0 !important;
    }
}

@media (min-width: 1901px) {}


//profile

@media (min-width: 0px) and (max-width: 767px) {
    .user-profile-area {
        flex-direction: column;

        .user-col-profile {
            flex: 1 1 1;
        }

        .user-col-about {
            flex: 1 1 1;
            padding-top: 0;
        }
    }


}



@media (min-width: 768px) and (max-width: 1200px) {
    .login-soloCard {
        margin-inline: 0 !important;
    }
}

@media (min-width: 1901px) {}

//artist admin panel

@media (min-width: 0px) and (max-width: 767px) {
    .top-menu {
        display: flex !important;
    }

    .aside-panel {
        // flex: 15rem 1 auto;
        display: none;
        flex-basis: 4rem !important;

        .setting-menu {
            padding: 0;
        }

        p,
        h1 {
            display: none;
        }

        div {
            width: fit-content;
        }
    }

    .aside-main-card {
        flex: 1 1 auto;
        border-radius: 0 !important;
        padding: 1rem !important;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .aside-panel {
        // flex: 15rem 1 auto;
        flex-basis: 4rem !important;

        .setting-menu {
            padding: 0;
        }

        p,
        h1 {
            display: none;
        }

        div {
            width: fit-content;
        }
    }

    .aside-main-card {
        flex: 1 1 auto;
    }

}

@media (min-width: 1901px) {}

//chat

@media (min-width: 0px) and (max-width: 799px) {
    .status-chat-header {
        display: none;
    }

    .chat-header {
        grid-template-columns: 1fr auto !important;
    }

    .sys-dialog,
    .sys-dialog-wip {
        width: 100% !important;
    }

    .back-btn {
        display: block !important;
    }

    //สำหรับเลือกแชท
    .aside-chatbox {
        flex: 1;

        .chat-item.selected {
            // background-color: initial !important;
            box-shadow: initial !important;
            border: initial !important;
            align-items: center !important;
            border-radius: 1.25rem !important;
            background: rgba(255, 255, 255, 0.61) !important;
            overflow: hidden !important;
        }

        .qq .arrow {
            display: none !important;
        }
    }

    //สำหรับ หน้าแชท
    .chat{
        padding-inline:10px !important;
    }
    .chat-room {
        border-radius: 0 !important;

        .user-message {
            grid-template-columns: auto 1fr !important;
            column-gap: 0 !important;
        }

        .backdrop-modal-area {
            width: 100% !important;
        }

    }


}

@media (min-width: 800px) and (max-width: 999px) {
    // .aside-chatbox {
    //     display: none
    // }

    .sys-dialog,
    .sys-dialog-wip {
        width: 100% !important;
    }

    .back-btn {
        display: block !important;
    }

    //สำหรับเลือกแชท
    .aside-chatbox {
        flex: 1;

        .chat-item.selected {
            // background-color: initial !important;
            box-shadow: initial !important;
            border: initial !important;
            align-items: center !important;
            border-radius: 1.25rem !important;
            background: rgba(255, 255, 255, 0.61) !important;
            overflow: hidden !important;
        }

        .qq .arrow {
            display: none !important;
        }
    }

    //สำหรับ หน้าแชท
    .chat-room {
        border-radius: 0 !important;

        .backdrop-modal-area {
            width: 100% !important;
        }

    }

}

@media (min-width: 1000px) and (max-width: 1200px) {
    // .aside-chatbox {
    //     display: none
    // }

    .sys-dialog-wip {
        width: 100% !important;
    }

    // .back-btn {
    //     display: block !important;
    // }

    //สำหรับ หน้าแชท
    .chat-room {
        // border-radius: 0 !important;

        .backdrop-modal-area {
            width: 100% !important;
        }

    }

}

@media (min-width: 1901px) {}


//my req
@media (min-width: 0px) and (max-width: 767px) {

    .order-data-row:not(.last) {
        border-bottom: none !important;
    }
    .order-data-row{
        // padding: 0 0 !important;
        width: 100% !important;
        td{
            padding: 0.3rem 0.5rem !important;
            p:first-child{
                font-weight: 400 !important;
            }
        }
    }
    

}



@media (min-width: 768px) and (max-width: 1200px) {}

@media (min-width: 1901px) {}