/* .content-container {
    border-radius: 10px !important;
}
.content-type {
    margin: 0;
    padding: 10px;
    border: 1px solid rgb(134, 134, 134);
    border-radius: 25px;
}
.content-body{
    margin: 0px 150px 0px 150px;
}
.content-P {
    font-size: 16px;
    font-weight: bold;
    color: rgb(71, 71, 159);
}
.input-text {
    width: 100%;
    border: 1px solid rgb(134, 134, 134);
    border-radius: 15px;
    font-size: 16px;
}
.input-textarea {
    width: 100%;
    border: 1px solid rgb(134, 134, 134);
    border-radius: 15px;
    font-size: 16px;
    resize: none;
}
.form-check {
    margin-right: 10px;
    color: rgb(71, 71, 159);
}
.input-text-package {
    width: 50%;
    border: 1px solid rgb(134, 134, 134);
    border-radius: 15px;
    font-size: 16px;
} */