.profile-img {
    position: relative;
    box-sizing: border-box;
    border-radius: 100px;
    /* width: 141px;
    height: 141px; */
    /* background-color: #ffffff; */
    margin-inline: auto;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    box-shadow: 0px 31px 55px -12px rgba(74, 105, 232, 0.24);
    /* display: flex;
    justify-content: center; */
    background-color: #ffffff;

}

.profile-img img {
    border-radius: 100px;
    width: 141px;
    height: 141px;
    box-sizing: border-box;
    object-fit: cover;
    background-color: #ffffff;
    /* height: 100%; */

}

.profile-img.imgbrowse {
    border: 2px dashed rgb(144, 144, 144);
}

.edit-img-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    filter: grayscale();
}

.edit-img-hover p {
    margin: 0px;
    color: transparent;
}

.edit-img-hover:hover {
    background-color: rgba(0, 0, 0, 0.583);
    cursor: pointer;
}

.edit-img-hover:hover p {
    color: white;
    mix-blend-mode: difference;
    user-select: none;
}

/* ----------------------- */

.profile-img-show {
    box-sizing: border-box;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    overflow: hidden;
    margin-right: 20px;
    box-shadow: 0px 31px 55px -12px rgba(74, 105, 232, 0.24);
}


.profile-img-show img {
    object-fit: cover;
    height: 100%;

}